.pagination {
    display: flex;
    width: 100%;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageNumber {
    padding: 8px;
    transition: .1s ease;
}

.pageNumber,
.arrow {
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.arrow {
    padding: 5px;
    border-radius: 20px;
}

.pageNumber:active {
    scale: 1.05;
}

button[disabled] {
    cursor: not-allowed;
    background-color: #fff;
}

button[disabled]:active {
    scale: 1;
}

.dark button {
    background-color: transparent;
    color: #fff;
}
