.banners {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    box-sizing: border-box;
    width: 100%;
    gap: 12px;
    max-height: 1200px;
    overflow-y: auto;
}
