.header {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    background-color: white;
    border-bottom: 1px solid #dddddd;
    justify-content: space-between;
    align-items: center;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    color: #090a0a;
    font-size: 28px;
}

.date {
    font-size: 16px;
}

.header.dark {
    background-color: #212121;
    border-bottom: 1px solid rgb(60, 60, 60);
}
