.search {
    display: flex;
    width: 100%;
    gap: 12px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #f2f3f5;
    border-radius: 12px;
}
